.photo {
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
}

.photo-container .title-start {
  justify-content: start;
  width: 70%;
}

.photo-container .photos {
  width: 70%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photo-container .photos img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

.photo-container button {
  position: absolute;
  top: -100px;
  left: 0;
  width: 60px;
  height: 60px;
  background: #1d1d1b;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.photo-container button i {
  font-size: 30px;
}