.photo {
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}