.about-container {
  width: 100%;
}

.about-title-container {
  width: 60%;
  border-bottom: 1px solid var(--border-grey);
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.about-title-container h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--bg-color);
  margin-bottom: 20px;
}

.about-title-container p {
  font-size: 20px;
  font-weight: 700;
  color: var(--subheading);
  margin-bottom: 20px;
}

.stats {
  background: var(--bg-dark);
  color: var(--text-white);
  width: 70%;
  padding: 64px 112px;
  margin-bottom: 100px;
}

.stats ul {
  list-style: none;
  font-size: 20px;
}

.stats ul li span {
  font-weight: 700;
  font-size: 40px;
}

.cards {
  width: 70%;
}



