.title-container {
  position: relative;
  margin-bottom: 20px;
}

.title-container .title-props {
  margin-left: 70px;
  font-size: 2.5rem;
  font-weight: 700px;
  color: var(--text-black);
}

.title-container .line {
  position: absolute;
  top: 70px;
  left: 75px;
  width: 30%;
  height: 1px;
  background: #BBBBBB;
}

.title-container .fat {
  position: absolute;
  top: 67px;
  left: 75px;
  width: 150px;
  height: 3px;
  background: #BBBBBB;
}