.contact-container .contact-card {
	min-height: 500px;
	width: 80%;
	background-color: var(--bg-white);
	margin-bottom: 20px;
	margin-top: 50px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.contact-container .contact-card:hover {
	border-radius: 0;
}

.contact-container .contact-card:hover .contact-card-pics {
	border-radius: 0;
}


.contact-container .contact-card .contact-card-pics {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	transition: var(--trans-05);
	display: flex;
}

.contact-container .contact-card .profil-image,
.contact-container .contact-card .contact-image {
	width: 50%;
	height: 500px;
}

.contact-container .contact-card .profil-image {
	border-radius: 10px 0 0 0;
	object-fit: cover;
}

.contact-container .contact-card .profil-image img {
	width: 100%;
}

.contact-container .contact-card .contact-image {
	border-radius: 0 10px 0 0;
	object-fit: cover;
}

.contact-container .contact-card .contact-image img {
	width: 100%;
}

/** text **/

.contact-container .contact-card .contact-card-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.contact-container .contact-card .contact-card-text .pics-text {
	width: 100%;
	text-align: center;
	padding: 40px;
}
.contact-container .contact-card .contact-card-text .pics-text h2 {
	font-size: 1.75rem;
	font-weight: 700;
	color: var(--text-black);
	margin-bottom: 10px;
}
.contact-container .contact-card .contact-card-text .pics-text .tel {
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--subheading);
	margin-bottom: 10px;
}
.contact-container .contact-card .contact-card-text .pics-text .email {
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--subheading);
}

.contact-container .contact-card .contact-card-text .pics-text .reseaux {
	font-size: 2.5rem;
	text-decoration: none;
	margin-top: 20px;
}

.contact-container .contact-card .contact-card-text .pics-text .reseaux i {
	padding: 7px;
	color: var(--text-black);
}