.home-container {
	width: 100%;
}

.home-wrapper {
	width: 85%;
}

.home-container .title-start {
	width: 100%;
}

.home-container .line {
	top: 150px;
}

.home-container .fat {
	top: 147px;
}

.home-card-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 50px;
}

.home-card {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

.home-card:last-child {
	margin-right: 0;
}

.home-card img {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
}

.title-card {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	padding-left: 7px;
	margin-top: 0px;
}

.link {
	text-decoration: none;
	color: var(--text-black);
}

/* ------------------------- Responsive Mobile-first ------------------------ */

@media screen and (min-width: 768px) {
	.home-container {
		width: 70%;
	}
	.title-container .title-content {
    font-size: 40px;
  }
  .title-container .line {
    top: 70px;
    left: 5px;
    width: 500px;
  }
  .title-container .fat {
    top: 67px;
    left: 5px;
    width: 125px;
  }
	.home-wrapper {
		width: 87%;
	}
	.home-card-container {
		margin-top: 70px;
	}
	.home-card {
		width: 195px;
	}
	.home-card-image {
		width: 100%;
		height: 180px;
		border-radius: 10px;
		overflow: hidden;
		transition: var(--trans-05);
	}
	.home-card-image:hover {
		border-radius: 0;
		transition: var(--trans-05);
	}
	.home-card-image img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		transition: var(--trans-05);
	}
	.home-card-image:hover img {
		border-radius: 0;
		transform: scale(1.1);
		transition: var(--trans-05);
	}
	.title-card {
		font-size: 20px;
		margin-top: 5px;
	}
}
