.home-container {
	width: 100%;
}

.home-wrapper {
	width: 85%;
}

.home-container .title-start {
	width: 100%;
}

.home-card-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 30px;
}

.home-card {
  width: 100%;
	border-radius: 10px;
}

.home-card:last-child {
	margin-right: 0;
}

.home-card img {
	width: 100%;
	height: 250px;
	border-radius: 10px;
	object-fit: cover;
	margin-top: 10px;
}

.title-card {
	font-size: 18px;
	font-weight: 700;
	display: flex;
	padding-left: 7px;
	margin-top: 0px;
}

.link {
	text-decoration: none;
	color: var(--text-black);
}


/* @media screen and (max-width: 1440px ) {
	.home-container {
		width: 80%;
	}
	.home-wrapper {
		width: 96%;
	}
}


@media screen and (max-width: 1200px ) {
	.home-container {
		width: 90%;
	}
	.home-card {
		width: 160px;
	}
	.home-card img {
		height: 150px;
	}
	.home-container .title-start h2 {
		font-size: 2rem;
	}
	.home-card-container {
		margin-top: 50px;
	}
}


@media screen and (max-width: 1080px ) {
	.home-card {
		width: 150px;
	}
	.home-card img {
		height: 140px;
	}
}


@media screen and (max-width: 1024px ) {
	.home-card {
		width: 140px;
	}
	.home-card img {
		height: 130px;
	}
} */

/* ------------------------- Responsive Mobile-first ------------------------ */

@media screen and (min-width: 1440px) {
	.home-container {
		width: 70%;
	}
	
	.home-wrapper {
		width: 87%;
	}
	
	.home-container .title-start {
		width: 100%;
	}
	
	.home-card-container {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin-top: 70px;
	}
	
	.home-card {
		width: 195px;
		border-radius: 10px;
	}
	
	.home-card:last-child {
		margin-right: 0;
	}
	
	.home-card img {
		width: 100%;
		height: 180px;
		border-radius: 10px;
		object-fit: cover;
		margin-top: 10px;
	}
	
	.title-card {
		font-size: 20px;
		font-weight: 700;
		padding-left: 7px;
		margin-top: 5px;
	}
	
	.link {
		text-decoration: none;
		color: var(--text-black);
	}
	
}