.right-card-thin{
  min-height: 250px;
  display: inline-block;
  background-color: var(--bg-white);
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  display: flex;
}

.right-card-thin .right-card-thin-text {
  padding: 40px 60px;
  width: 60%;
}

.right-card-thin .right-card-thin-text h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--text-black);
  margin-bottom: 20px;
}

.right-card-thin .right-card-thin-text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--subheading);
}

.right-card-thin .right-card-thin-image {
  width: 40%;
  border-radius: 10px 0 0 10px;
}

.right-card-thin .right-card-thin-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}