.footer {
  position: relative;
  left: 60px;
  width: calc(100% - 60px);
  height: 75px;
  background: var(--bg-dark);
  color: var(--text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--tran-05);
}