.skills-container {
  width: 90%;
}

.skills-wrapper {
  width: 70%;
}

.category {
  margin-top: 60px;
  display: flex;
}

.formation-content .left-card-text,
.experience-content .left-card-text{
  display: flex;
  flex-direction: column;
}

.formation-content .left-card-text h2 {
  margin-bottom: 5px;
  margin-top: 0;
}

.formation-content .left-card-text .leftCard-text,
.experience-content .left-card-text .leftCard-text {
margin-top: 0;
}

.left-card {
  cursor: default;
}

.category li {
  list-style: none;
  margin-bottom: 20px;
}

.hardskill-content li {
  margin-bottom: 0;
}

.leftCard-project {
  display: none;
}

.skills-container .title-content {
  width: 100%;
  margin-bottom: 70px;
}

.hardskill-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

.hardskill-content li .card {
  margin-bottom: 0;
  width: 200px;
  height: 200px;
}

.title-content .left-card {
  width: 100%;
  max-width: 100%;
}


/* -------------------------------------------------------------------------- */
/* -------------------- Responsive en dessous de 1440 px -------------------- */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1440px ) {
  .skills-wrapper {
    width: 70%;
  }
  .hardskill-content ul {
    gap: 27px;
  }  
  .hardskill-content li .card {
    width: 197px;
    height: 197px;
  }
}