.skills {
  display: flex;
  flex-direction: column;
}

.skills-container {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.skills-container .title-start {
  justify-content: start;
  width: 70%;
}

.categories-container {
  width: 70%;
}

.category {
  margin-top: 60px;
  display: flex;
}

.category li {
  list-style: none;
  margin-bottom: 20px;
}






