.confiance-container {
  width: 90%;
}

.confiance-wrapper {
  width: 70%;
}

.title-start {
  width: 100%;
}

.confiance-cards {
  width: 100%;
}

.confiance-cards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.confiance-cards li .right-card {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/* -------------------- Responsive en dessous de 1440 px -------------------- */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1440px ) {
  .confiance-wrapper {
    width: 80%;
  }
}