.web-container .web-cards .galleryImages {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.web-container .web-cards li:first-child {
  list-style: none;
  margin-top: 50px;
}

.web-container .web-cards li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web-container .web-cards .title-video {
  padding-top: 25px;
}

.web-container .title-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-container .title-wrapper {
width: 50%;
}

.web-container .title-wrapper .title-container .line {
width: 85%;
}

.web-container .search-container {
  width: 50%;
}

.web-container .web-cards .left-card .left-card-text {
  padding: 15px 50px;
  margin: 0;
}

.web-container .web-cards .left-card .left-card-text h2 {
  margin-top: 0;
}

.web-container .web-cards .left-card .left-card-text p {
  margin-top: 0;
}

.web-container .web-cards .left-card .left-card-text .leftCard-text {
  margin-bottom: 15px;
}

.web-container .web-cards .left-card .left-card-text .leftCard-projet span {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-black);
}