* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Colors */
	--bg-dark: rgba(34, 34, 34, 1);
	--bg-white: rgba(255, 255, 255, 1);
	--text-white: rgba(255, 255, 255, 1);
	--text-black: rgba(34, 34, 34, 1);
	--border-grey: rgba(187, 187, 187, 1);
	--border-black: rgba(34, 34, 34, 0.6);
	--text-menu-initial: rgba(151, 151, 151, 1);
	--subheading: rgba(102, 102, 102, 1);
	--icons: rgba(255, 255, 255, 0.7);


	/* Transition */
	--trans-02: all 0.2s ease;
	--trans-03: all 0.3s ease;
	--trans-04: all 0.4s ease;
	--trans-05: all 0.5s ease;

	overflow-x: hidden;

	height: 100vh;
}

/* ---------------------------- Factorisation css --------------------------- */
.home,
.about,
.skills,
.portfolio,
.logo,
.visitCard,
.web,
.photo,
.confiance,
.contact,
.notfound
 {
	position: relative;
	left: 60px;
	width: calc(100vw - 60px);
	transition: var(--trans-05);
	z-index: 101;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.about-container,
.skills-container,
.portfolio-container,
.logo-container,
.photo-container,
.visitCard-container,
.web-container,
.confiance-container,
.contact-container {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
	position: relative;
}

.skills-container .title-start,
.portfolio-container .title-start,
.logo-container .title-start,
.photo-container .title-start,
.visitCard-container .title-start,
.web-container .title-start,
.confiance-container .title-start,
.contact-container .title-start {
  justify-content: start;
  width: 70%;
}

.sidebar.open ~ .home,
.sidebar.open ~ .about,
.sidebar.open ~ .skills, 
.sidebar.open ~ .portfolio,
.sidebar.open ~ .logo,
.sidebar.open ~ .visitCard,
.sidebar.open ~ .web,
.sidebar.open ~ .photo,
.sidebar.open ~ .confiance,
.sidebar.open ~ .contact,
.sidebar.open ~ .notfound
{
	left: 310px;
	width: calc(100vw - 310px);
	transition: var(--trans-05);
}

.home .text,
.about .text,
.skills .text, 
.portfolio .text,
.logo .text,
.visitCard .text,
.web .text,
.photo .text,
.confiance .text,
.contact .text,
.notfound .text
{
	font-size: 30px;
	font-weight: 500;
	color: var(--text-black);
	padding: 8px 40px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.sidebar.open .text {
	display: block;
	transition: var(--trans-05);
}

.sidebar.open {
	width: 310px;
	transition: var(--trans-05);
}

.sidebar.active .image-text img {
	visibility: visible;
	transition: var(--trans-05)
}

.sidebar.active ul li .icon {
	transform: translateY(0);
	transition: var(--trans-05);
}

.sidebar.active li .text {
	transform: translateY(0);
	transition: var(--trans-02);
}

.sidebar a.active span {
	color: var(--text-white);
	font-weight: 500;
}

.logo-container .logos,
.photo-container .photos,
.visitCard-container .visitCard-cards,
.web-container .web-cards,
.confiance-container .confiance-cards,
.contact-container .right-card
 {
  width: 70%;
  margin-top: 50px;
}

.portfolio-container .portfolio-cards li,
.visitCard-container .visitCard-cards li,
.web-container .web-cards li,
.confiance-container .confiance-cards li {
  list-style: none;
}

.logo-container .btnPrev,
.photo-container .btnPrev,
.visitCard-container .btnPrev,
.web-container .btnPrev {
  position: absolute;
  top: -100px;
  left: 0;
  width: 60px;
  height: 60px;
  background: #1d1d1b;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logo-container button i,
.photo-container button i,
.visitCard-container button i,
.web-container button i	{
  font-size: 30px;
}

.logo-container .logos .image-modal,
.visitCard-container .visitCard-cards .image-modal {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: var(--trans-05);
}