* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* Colors */
	--bg-dark: rgba(34, 34, 34, 1);
	--bg-white: rgba(255, 255, 255, 1);
	--text-white: rgba(255, 255, 255, 1);
	--text-black: rgba(34, 34, 34, 1);
	--border-grey: rgba(187, 187, 187, 1);
	--border-black: rgba(34, 34, 34, 0.6);
	--text-menu-initial: rgba(151, 151, 151, 1);
	--subheading: rgba(102, 102, 102, 1);


	/* Transition */
	--trans-02: all 0.2s ease;
	--trans-03: all 0.3s ease;
	--trans-04: all 0.4s ease;
	--trans-05: all 0.5s ease;

	overflow-x: hidden;

	height: 100vh;
}

/* ---------------------------- Factorisation css --------------------------- */
.home,
.about,
.skills,
.portfolio,
.confiance,
.contact,
.notfound
 {
	position: relative;
	left: 60px;
	width: calc(100vw - 60px);
	transition: var(--trans-05);
	z-index: 101;
	background: #FFFFFF;
}

.sidebar.open ~ .home,
.sidebar.open ~ .about,
.sidebar.open ~ .skills, 
.sidebar.open ~ .portfolio,
.sidebar.open ~ .confiance,
.sidebar.open ~ .contact,
.sidebar.open ~ .notfound
{
	left: 310px;
	width: calc(100vw - 310px);
	transition: var(--trans-05);
}

.home .text,
.about .text,
.skills .text, 
.portfolio .text,
.confiance .text,
.contact .text,
.notfound .text
{
	font-size: 30px;
	font-weight: 500;
	color: var(--text-black);
	padding: 8px 40px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.sidebar.open .text {
	display: block;
	transition: var(--trans-05);
}

.sidebar.open {
	width: 310px;
	transition: var(--trans-05);
}

.sidebar.active .image-text img {
	visibility: visible;
	transition: var(--trans-05)
}

.sidebar.active ul li .icon {
	transform: translateY(0);
	transition: var(--trans-05);
}

.sidebar.active li .text {
	transform: translateY(0);
	transition: var(--trans-02);
}

.sidebar a.active span {
	color: var(--text-white);
	font-weight: 500;
}