.portfolio-container .portfolio-cards {
  width: 70%;
  margin-top: 50px;
}

.portfolio-container .portfolio-cards li:first-child {
  list-style: none;
  margin-top: 50px;
}

.portfolio-links {
  text-decoration: none;
}

.portfolio-container .portfolio-cards .left-card .left-card-text .leftCard-projet {
  display: none;
}