.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio-container {
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.portfolio-container .title-start {
  justify-content: start;
  width: 70%;
}

.portfolio-container .search-container {
  width: 55%;
  margin-top: 50px;
}

.portfolio-container .portfolio-cards {
  width: 70%;
  margin-top: 50px;
}

.portfolio-container .portfolio-cards li:first-child {
  list-style: none;
  margin-top: 50px;
}

.portfolio-container .portfolio-cards li{
  list-style: none;
}