.gallery {
	width: 900px;
	display: flex;
	overflow-x: scroll;
}

.gallery div {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 10px;
	flex: none;
}

.gallery div img {
	width: 100%;
}

.gallery-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10% auto;
}

#backBtn,
#nextBtn {
	width: 60px;
	cursor: pointer;
	margin: 40px;
	background: #117dba;
	padding: 10px;
}

/** Scrollbar entière */
.gallery::-webkit-scrollbar {
  width: 16px;
}

/** Zone vide derriere le curseur */
.gallery::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 8px;
}

/** Zone du bouton que l'on scroll */
.gallery::-webkit-scrollbar-thumb {
  background: #888;
}
